<aside>
  <nav>
    <ol>
      {% for link in breadcrumbs %}
        <li>
          <a href="{{ link.href }}">
            {% if link.text == "ppl" %}
              {% include "ppl.njk" %}
            {% else %}
              {{ link.text }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>
</aside>

