---
layout: page
itemtype: WebPage
eleventyComputed:
  title: "ppl {{ name }}"
  description: "{{ summary }}"
---

<pre class="synopsis"><code>{{ synopsis }}</code></pre>

{{ content | safe }}

{% if see_also | length > 0 %}
  <h2>
    See Also
  </h2>

  <ol>
    {% for link in see_also %}
      <li>
        {{ link.text}} - {{ link.href }}
      </li>
    {% endfor %}
  </ol>
{% endif %}


