---
layout: base
itemtype: WebPage
---

<h1>
  ppl {{ name }}
</h1>

{{ title }}

<h2>
  Name
</h2>

<p>
  ppl {{name}} - {{ summary }}
</p>

<h2>
  Synopsis
</h2>

<pre><code>{{ synopsis }}</code></pre>

<h2>
  Description
</h2>

{{ content | safe }}

{% if see_also | length > 0 %}
  <h2>
    See Also
  </h2>

  <ol>
    {% for link in see_also %}
      <li>
        {{ link.text}} - {{ link.href }}
      </li>
    {% endfor %}
  </ol>
{% endif %}


