<footer>
  <p
    itemprop="creator"
    itemscope
    itemtype="http://schema.org/Person">
    <a href="https://hen.cat/" target="_blank">
      <span itemprop="name">
        Henry Catalini Smith
      </span>
    </a>
  </p>
</footer>

