---
layout: base
itemtype: WebPage
---

<main>
  <article>
    <header>
      <h1 itemprop="headline">
        {{ title}}
      </h1>
      <p itemprop="description">
        {{ description }}
      </p>
    </header>
    <section itemprop="text">
      {{ content | safe }}
    </section>
  </article>
</main>

<footer>
  <p
    itemprop="creator"
    itemscope
    itemtype="http://schema.org/Person">
    <a href="https://hen.cat/" target="_blank">
      <span itemprop="name">
        Henry Catalini Smith
      </span>
    </a>
  </p>
</footer>

