<section>
  <h2>
    See Also
  </h2>
  <ol class="see-also">
    {% for link in see_also %}
      <li>
        <a href="{{ link.href }}">
          {{ link.text }}
        </a>
      </li>
    {% endfor %}
  </ol>
</section>

