---
layout: page
itemtype: WebPage
eleventyComputed:
  title: "ppl [{{ name }}] config"
  description: "{{ summary }}"
  breadcrumbs:
    - text: ppl
      href: /
    - text: settings
      href: /settings
    - text: "[{{ name }}]"
      href: "/settings/{{ name | slug }}"
---

<section>
  <pre class="synopsis"><code>{{ example }}</code></pre>
</section>

<section>
  {{ content | safe }}
</section>

{% if see_also | length > 0 %}
  {% include "see-also.njk" %}
{% endif %}

