---
layout: page
title: ppl commands
description: List of all available ppl commands
breadcrumbs:
  - text: ppl
    href: /
  - text: commands
    href: /commands
---

<dl>
  {% for command in collections.commands %}
    <dt>
      <a href="{{ url }}/commands/{{ command.data.name }}">
        {{ command.data.name }}
      </a>
    </dt>
    <dd>
      {{ command.data.summary }}
    </dd>
  {% endfor %}
</dl>

