---
layout: base
itemtype: WebPage
---

<style>
dl {
  display: flex;
  flex-direction: column;
}

dt {
}

dt:not(:first-child) {
  margin-top: 1rem;
}

dd {
  margin: 0;
}
</style>

<dl>
  {% for command in collections.commands %}
    <dt>
      <a href="/commands/{{ command.data.name }}">
        {{ command.data.name }}
      </a>
    </dt>
    <dd>
      {{ command.data.summary }}
    </dd>
  {% endfor %}
</dl>

