---
layout: base
title: ppl
description: The command-line address book
itemtype: SoftwareApplication
---

<meta
  itemprop="applicationCategory"
  content="Address Book"
/>

<meta
  itemprop="operatingSystem"
  content="Linux, macOS, Windows, BSD"
/>

<article>
  <header>
    <h1>
      <span itemprop="name">
        {{ title }}
      </span>
      {% include "ppl.njk" %}
    </h1>
    <p itemprop="description">
      {{ description }}
    </p>

    <nav>
      <ol>
        <li><a href="{{ url }}/commands">Commands</a></li>
        <li><a href="{{ url }}/integrations">Integrations</a></li>
        <li><a href="{{ url }}/releases">Releases</a></li>
        <li><a href="{{ url }}/settings">Settings</a></li>
      </ol>
    </nav>
  </header>

  <section>
    <img
      alt="Animated demo showing Pippi Långstrump being added to a new address book"
      src="{{ url }}/casts/hero.svg"
    />
  </section>

  {% include "footer.njk" %}

</article>

