---
layout: page
title: ppl integrations
description: Information about integrating ppl with other software
breadcrumbs:
  - text: ppl
    href: /
  - text: integrations
    href: /integrations
---

<section>
  <dl>
    {% for integration in collections.integrations %}
      <dt>
        <a href="{{ url }}/integrations/{{ integration.data.name | slug }}">
          {{ integration.data.name }}
        </a>
      </dt>
      <dd>
        {{ integration.data.summary }}
      </dd>
    {% endfor %}
  </dl>
</section>

