---
layout: page
title: ppl news
description: Archive of all news posts
---

<dl>
  {% for post in collections.news | reverse %}
    <dt>
      <a href="{{ url }}/news/{{ post.data.title | slug }}">
        {{ post.data.title }}
      </a>
    </dt>
    <dd>
      {{ post.data.date.toISOString().slice(0, 10) }}
    </dd>
  {% endfor %}
</dl>

