---
layout: page
title: ppl releases
description: List of ppl versions and release notes for each one
breadcrumbs:
  - text: ppl
    href: /
  - text: releases
    href: /releases
---

<dl>
  {% for release in collections.releases | reverse %}
    <dt>
      <a href="{{ url }}/releases/{{ release.data.version }}">
        {{ release.data.version }}
      </a>
    </dt>
    <dd>
      {{ release.data.summary }}
    </dd>
  {% endfor %}
</dl>


