---
layout: base
itemtype: WebPage
---

<dl>
  {% for setting in collections.settings %}
    <dt>
      <a href="/settings/{{ setting.data.name | slug }}">
        {{ setting.data.name }}
      </a>
    </dt>
    <dd>
      {{ setting.data.summary }}
    </dd>
  {% endfor %}
</dl>

