---
layout: page
title: ppl settings
---

<dl>
  {% for setting in collections.settings %}
    <dt>
      <a href="{{ url }}/settings/{{ setting.data.name | slug }}">
        [{{ setting.data.name }}]
      </a>
    </dt>
    <dd>
      {{ setting.data.summary }}
    </dd>
  {% endfor %}
</dl>

