---
layout: page
title: ppl settings
description: Reference guide to all ppl's configuration options
breadcrumbs:
  - text: ppl
    href: /
  - text: settings
    href: /settings
---

<section>
  <dl>
    {% for setting in collections.settings %}
      <dt>
        <a href="{{ url }}/settings/{{ setting.data.name | replace('"', "") | slug }}">
          [{{ setting.data.name }}]
        </a>
      </dt>
      <dd>
        {{ setting.data.summary }}
      </dd>
    {% endfor %}
  </dl>
</section>

