@use "./node_modules/@hendotcat/picknmix/picknmix.scss";

@include picknmix.theme;

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if ($index) {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-to-data-uri($svg, $fill: null) {
  $svg: if($fill, str-replace($svg, "<svg", "<svg fill='#{$fill}'"), $svg);
  $svg: str-replace($svg, "<svg", "<svg xmlns='http://www.w3.org/2000/svg' ");
  $svg: str-replace($svg, "<", "%3C");
  $svg: str-replace($svg, ">", "%3E");
  $svg: str-replace($svg, "\"", "'");
  $svg: str-replace($svg, "#", "%23");
  $svg: str-replace($svg, "&", "%26");
  @return url("data:image/svg+xml,#{$svg}");
}

body > aside {
  background-color: var(--bg0);
  display: flex;
  justify-content: center;
  width: 100%;
  --spacing: 0.3rem;

  ol {
    align-items: center;
    column-gap: var(--spacing);
    display: grid;
    grid-template-columns: min-content min-content auto;
    height: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
  }

  li:not(:first-child)::before {
    content: "/";
    font-family: Rockwell, serif;
    margin-right: var(--spacing);
  }

  a {
    color: var(--blue);
    font-family: var(--slab);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

[itemtype="http://schema.org/SoftwareApplication"] {
  --descriptionFontSize: 1rem;

  @media (min-width: 24rem) and (min-height: 24rem) {
    --descriptionFontSize: 1.2rem;
  }

  @media (min-width: 34rem) and (min-height: 34rem) {
    --descriptionFontSize: 1.8rem;
  }

  header {
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  h1 [itemprop="name"] {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  h1 svg {
    height: 4rem;
    width: 8rem;
  }

  img {
    background-image: svg-to-data-uri(
      '<svg viewBox="0 0 64 16">'
      + '<circle cx="14" cy="4" r="6" fill="#657b83" />'
      + '<circle cx="30" cy="4" r="6" fill="#839496" />'
      + '<circle cx="46" cy="4" r="6" fill="#008751" />'
      + '</svg>'
    );
    background-size: 64px 32px;
    background-repeat: no-repeat;
    background-position: top left;

    border: 3px solid #282d35;
    border-radius: 8px;
    padding-top: 32px;
    background-color: #282d35;
    height: var(--column);
    width: var(--column);
  }

  nav ol {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ol li:nth-child(1) { grid-area: 1/1; }
  nav ol li:nth-child(2) { grid-area: 1/2; }
  nav ol li:nth-child(3) { grid-area: 2/1; }
  nav ol li:nth-child(4) { grid-area: 2/2; }

  nav ol li:nth-child(even) {
    text-align: left;
  }

  nav ol li:nth-child(odd) {
    text-align: right;
  }

  nav ol li a {
    color: var(--blue);
    font-family: Rockwell, serif;
    font-size: var(--f14);
    font-weight: bold;
    text-decoration: none;
  }

  [itemtype="http://schema.org/Article"] {
    align-items: flex-start;
    margin: 2rem 0 0 0;
    width: var(--box);

    h2 {
      margin: 0;

      a {
        color: deeppink;
        font-family: Rockwell, serif;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
      }

      &::before {
        color: tomato;
        content: "Latest News: ";
        display: block;
        font-weight: bold;
        font-size: 1rem;
      }
    }

    time {
      color: darkslategray;
      font-family: Rockwell, serif;
      font-size: 1.2rem;
      font-weight: normal;
    }

    [itemprop="text"] {
      margin: 1rem 0 0 0;
    }
  }
}
