@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if ($index) {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-to-data-uri($svg, $fill: null) {
  $svg: if($fill, str-replace($svg, "<svg", "<svg fill='#{$fill}'"), $svg);
  $svg: str-replace($svg, "<svg", "<svg xmlns='http://www.w3.org/2000/svg' ");
  $svg: str-replace($svg, "<", "%3C");
  $svg: str-replace($svg, ">", "%3E");
  $svg: str-replace($svg, "\"", "'");
  $svg: str-replace($svg, "#", "%23");
  $svg: str-replace($svg, "&", "%26");
  @return url("data:image/svg+xml,#{$svg}");
}

:root {
  --padding: 1rem;
  --tiny: calc(100vmin - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

[itemtype="http://schema.org/SoftwareApplication"] {
  --descriptionFontSize: 1rem;

  @media (min-width: 24rem) and (min-height: 24rem) {
    --descriptionFontSize: 1.2rem;
  }

  @media (min-width: 34rem) and (min-height: 34rem) {
    --descriptionFontSize: 1.8rem;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--box);
    width: var(--box);
  }

  h1 {
    margin: 0;
  }

  h1 [itemprop="name"] {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  h1 svg {
    height: 4rem;
    width: 8rem;
  }

  header [itemprop="description"] {
    font-family: "Menlo", monospace;
    font-size: var(--descriptionFontSize);
    margin: 0;
  }

  img {
    background-image: svg-to-data-uri(
      '<svg viewBox="0 0 64 16">'
      + '<circle cx="14" cy="4" r="6" fill="#657b83" />'
      + '<circle cx="30" cy="4" r="6" fill="#839496" />'
      + '<circle cx="46" cy="4" r="6" fill="#008751" />'
      + '</svg>'
    );
    background-size: 64px 32px;
    background-repeat: no-repeat;
    background-position: top left;

    border: 3px solid #282d35;
    border-radius: 8px;
    padding-top: 32px;
    background-color: #282d35;
    height: var(--box);
    width: var(--box);
  }

  footer {
    align-items: flex-end;
    display: flex;
    height: var(--box);
    justify-content: flex-end;
    width: var(--box);
  }

  [itemprop="creator"] {
    font-family: Futura, Helvetica, sans-serif;
    margin: 0 0 0.2rem 0;
    text-align: right;
  }

  [itemprop="creator"] a {
    text-decoration: none;
  }

  [itemprop="creator"] [itemprop="name"] {
    color: darkslategray;
    font-size: 1rem;
    font-weight: bold;
  }

  [itemprop="creator"] [itemprop="name"]:hover {
    text-decoration-line: underline;
    text-decoration-color: deepskyblue;
  }
}

dl {
  display: flex;
  flex-direction: column;
}

dt:not(:first-child) {
  margin-top: 1rem;
}

dd {
  margin: 0;
}

