
{% include header.html %}

<div class="configuration">

<div class="row">

  <div class="span4 command-list">
    <h2>
      Configuration Guide
    </h2>

    <ul class="nav nav-tabs nav-stacked">
      <li{%if page.config_section == "address book"%} class="active"{% endif %}>
        <a href="{{site.url}}/documentation/configuration/address_book">address book</a>
      </li>
      <li{%if page.config_section == "alias"%} class="active"{% endif %}>
        <a href="{{site.url}}/documentation/configuration/alias">alias</a>
      </li>
    </ul>
  </div>

  <div class="span8">

    {% if page.title %}
      <h2>
        {{page.title}}
      </h2>
    {% endif %}

    {{content}}
  </div>

</div>

</div>

{% include footer.html %}

