<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300italic" rel="stylesheet" type="text/css">

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/bootstrap/css/docs.css" rel="stylesheet">
    <link href="/bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>

  <div class="container">

    <div class="navbar">
      <div class="navbar-inner">

        <a class="brand" href="/">ppl</a>

        <ul class="nav pull-right">

          {% if page.section == "documentation" %}<li class="active">{% else %}<li>{% endif %}
            <a href="/documentation">Documentation</a>
          </li>

        </ul>
      </div>
    </div>



