<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

    <link href="/stylesheets/flatstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/ppl/{{site.version}}.css" rel="stylesheet" type="text/css" />

    {% if site.url == "http://ppladdressbook.org" %}
      {% include google-analytics.html %}
    {% endif %}

  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">

          {% if page.url != "/index.html" %}
            <a class="brand" href="">ppl</a>
          {% endif %}

          <ul class="nav pull-right">
            {% if page.section == "documentation" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/documentation">Documentation</a>
            </li>
            {% if page.section == "news" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/news">News</a>
            </li>
            {% if page.section == "development" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/development">Development</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
    <div class="container global">

