{% include header.html %}

<div class="configuration">

<div class="row">

  <div class="span4 command-list">
    <h2>
      Configuration Guide
    </h2>

    <ul class="nav nav-list">
      <li{%if page.config_section == "address book"%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/address_book" | relative_url }}">address book</a>
      </li>
      <li{%if page.config_section == "alias"%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/alias" | relative_url }}">alias</a>
      </li>
      <li{%if page.config_section == "color"%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color" | relative_url }}">color</a>
      </li>
      <li{%if page.config_section == 'color "age"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_age" | relative_url }}">color "age"</a>
      </li>
      <li{%if page.config_section == 'color "bday"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_bday" | relative_url }}">color "bday"</a>
      </li>
      <li{%if page.config_section == 'color "email"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_email" | relative_url }}">color "email"</a>
      </li>
      <li{%if page.config_section == 'color "ls"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_ls" | relative_url }}">color "ls"</a>
      </li>
      <li{%if page.config_section == 'color "name"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_name" | relative_url }}">color "name"</a>
      </li>
      <li{%if page.config_section == 'color "nick"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_nick" | relative_url }}">color "nick"</a>
      </li>
      <li{%if page.config_section == 'color "org"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_org" | relative_url }}">color "org"</a>
      </li>
      <li{%if page.config_section == 'color "phone"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_phone" | relative_url }}">color "phone"</a>
      </li>
      <li{%if page.config_section == 'color "post"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_post" | relative_url }}">color "post"</a>
      </li>
      <li{%if page.config_section == 'color "url"'%} class="active"{% endif %}>
        <a href="{{ "/documentation/configuration/color_url" | relative_url }}">color "url"</a>
      </li>
    </ul>
  </div>

  <div class="span8">

    {% if page.title %}
      <h2>
        {{page.title}}
      </h2>
    {% endif %}

    {{content}}
  </div>

</div>

</div>

{% include footer.html %}

