---
title: ppl
description: The command-line address book
---
<!doctype html>
<html
  lang="en"
  dir="ltr"
  itemscope
  itemtype="http://schema.org/SoftwareApplication">
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />

    <link rel="stylesheet" href="style.css" />
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <main>
      <header>
        <h1 itemprop="name">
          {{ title }}
        </h1>
        <p itemprop="description">
          {{ description }}
        </p>
      </header>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        if (!location.pathname.endsWith("/")) {
          location.pathname = `${location.pathname}/`
        }
      })
    </script>
  </body>
</html>

