---
title: ppl
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />

    <style>
      :root {
      }

      html {
        box-sizing: border-box;
        overflow: hidden;
      }

      *, *:before, *:after {
        box-sizing: inherit;
      }

      body {
      }
    </style>
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <h1>{{ title }}</h1>
  </body>
</html>

